*{
    font-family: Tahoma;
    font-size: 11pt;
}
th{
    font-size: 15pt;
	background:#79CDCD;
	color: #ffffff;
	padding: 5px;
}
td {
	padding: 5px;
}
table {
	border-collapse: collapse;
	border: 1px solid #6959CD;
	background: url(images/bgbottom_blue.jpg)
	repeat-x left bottom;
}
input {
	width: 320px;
	padding: 6px;
	border: 1px dotted #483D8B;
	background: #f0f8ff
}
button {
	padding: 5px;
	border: 1px solid #228b22;
	background: #79CDCD;
	color: #ffffff;
}
td{
	padding: 5px;
}